body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
}

.element {
  float: left;
}

.element .container {
  clear: both;
  width: 66.4140625%;
  margin: 22px 0 0 16.83203%;
}

.element .image {
  width: 145px;
  margin: 5px 0 0 6.06787%;
}

.element .text {
  font-family: Verdana;
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
}

.text-31 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  background-color: rgb(40, 160, 52);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

._input {
  display: block;
  float: left;
  width: 70.6422018348%;
  height: 33px;
  padding: 0 10px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.element ._button {
  clear: both;
  width: 61.5113384955%;
  height: 39px;
  margin-top: 19px;
  border-radius: 5px;
  font-family: Verdana;
  text-transform: uppercase;
}

.element ._container {
  height: 312px;
}

.container-1 {
  position: relative;
  z-index: 9;
  width: 34%;
  height: 48px;
  margin: -493px 0 0 56%;
}

.container-10 {
  position: relative;
  z-index: 61;
  width: 27.25%;
  height: 62px;
  margin: -188px 0 0 16%;
}

.container-11 {
  clear: both;
  width: 100%;
  height: 33px;
  margin-top: 15px;
}

.container-12 {
  position: relative;
  z-index: 68;
  width: 8.8333333333%;
  height: 105px;
  margin: -243px 0 0 64.41667%;
}

.container-2 {
  position: relative;
  z-index: 51;
  width: 26.4153645833%;
  height: 125px;
  margin: -278px 0 0 16%;
}

.container-3 {
  position: relative;
  z-index: 55;
  width: 25.5989583333%;
  height: 107px;
  margin: -268px 0 0 57.66667%;
}

.container-4 {
  width: 68%;
  height: 233px;
  margin: 53px 0 0 16%;
}

.container-5 {
  width: 24.2647058823%;
  height: 307px;
}

.container-6,
.container-7 {
  width: 24.2647058823%;
  height: 307px;
  margin-left: 13.60103%;
}

.container-9 {
  clear: both;
  width: 68%;
  height: 436px;
  margin: 18px 0 0 16%;
}

.element-1 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 543px;
  background: url('../images/soccer.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 48%;
}

.element-10 {
  clear: both;
  width: 100%;
  height: 436px;
  margin-top: 41px;
  background-color: rgba(207, 232, 203, 0.63);
}

.element-11 {
  width: 28.3563362609%;
  margin-left: -0.00588%;
  background-color: rgb(222, 222, 222);
  box-shadow: 4px 3px 6px 1px rgba(0, 0, 0, .5);
}

.element-12 {
  width: 99.5575221238%;
  height: 147px;
  background: url('../images/%D0%BD%D1%81%D0%BA.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: center center;
}

.element-13 {
  width: 28.3563362609%;
  margin-left: 7.40276%;
  background-color: rgb(222, 222, 222);
  box-shadow: 4px 3px 6px 1px rgba(0, 0, 0, .5);
}

.element-14 {
  width: 99.5575221238%;
  height: 147px;
  margin-left: -0.06914%;
  background: url('../images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2%D0%B0.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: left top;
}

.element-15 {
  width: 28.3563362609%;
  margin-left: 7.52431%;
  background-color: rgb(222, 222, 222);
  box-shadow: 4px 3px 6px 1px rgba(0, 0, 0, .5);
}

.element-16 {
  width: 99.5575221238%;
  height: 147px;
  margin-left: -0.10371%;
  background: url('../images/5%D1%8D%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: left top;
}

.element-17 {
  width: 100%;
  height: 436px;
  background: url('../images/%D0%BA%D0%B0%D1%80%D1%82%D0%B0.JPG') rgb(222, 222, 222);
  background-size: cover;
  background-position: center center;
}

.element-18 {
  position: relative;
  clear: both;
  z-index: 45;
  width: 100%;
  height: 266px;
  margin-top: 16px;
  background: url('../images/footer_lodyas.png') rgba(10, 31, 5, 0.91);
  background-size: auto auto;
  background-position: left top;
}

.element-19 {
  position: relative;
  clear: both;
  z-index: 56;
  width: 13.5833333333%;
  height: 40px;
  margin: -243px 0 0 10%;
  background: url('../images/book2play-logo.png') rgba(222, 222, 222, 0);
  background-size: contain;
  background-position: left top;
}

.element-2 {
  width: 100%;
  height: 543px;
  background-color: rgba(0, 0, 0, 0.47);
}

.element-3 {
  position: relative;
  z-index: 3;
  width: 13.5833333333%;
  height: 23px;
  margin: -532px 0 0 76.39974%;
  background-color: rgba(15, 3, 3, 0.51);
}

.element-4 {
  width: 39.9509803921%;
  height: 48px;
  margin-left: 2.703737745%;
  background-color: rgba(40, 160, 52, 0.81);
}

.element-5 {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 150px;
  margin-top: -291px;
  background-color: rgba(222, 222, 222, 0.59);
}

.element-6 {
  width: 28.7066246056%;
  height: 125px;
  background: url('../images/sportsicons.png') rgba(222, 222, 222, 0);
  background-size: 280px auto;
  background-position: left top;
}

.element-7 {
  position: relative;
  z-index: 49;
  width: 28.7066246056%;
  height: 125px;
  margin-left: 9.58695%;
  background: url('../images/sportsicons.png') rgba(222, 222, 222, 0);
  background-size: 280px auto;
  background-position: 175px 0%;
}

.element-8 {
  position: relative;
  z-index: 50;
  width: 28.7066246056%;
  height: 125px;
  margin-left: 4.28825%;
  background: url('../images/sportsicons.png') rgba(222, 222, 222, 0);
  background-size: 280px auto;
  background-position: 90px 0%;
}

.element-9 {
  width: 23.3766233766%;
  height: 107px;
  margin-left: -0.2638%;
  background: url('../images/MyLocationicon.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left top;
}

.image-1 {
  position: relative;
  clear: both;
  z-index: 52;
  width: 314px;
  margin: -521px 0 0 10%;
}

.text-1 {
  margin-top: 10px;
  font-family: Verdana;
  font-size: 1.188em;
  color: rgb(144, 255, 95);
}

.text-10 {
  position: relative;
  clear: both;
  z-index: 16;
  width: 100%;
  min-height: 137px;
  margin-top: 18px;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-11 {
  position: relative;
  clear: both;
  z-index: 17;
  margin: -246px 0 0 22.71149%;
  font-family: Rokkitt;
  font-size: 13.938em;
  font-weight: 700;
  color: rgba(9, 68, 0, 0.48);
}

.text-12 {
  position: relative;
  z-index: 19;
  margin: 21px 0 0 11.10322%;
  font-size: 3.188em;
  color: rgb(0, 0, 0);
}

.text-13 {
  position: relative;
  clear: both;
  z-index: 20;
  width: 100%;
  min-height: 137px;
  margin-top: 18px;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-14 {
  position: relative;
  clear: both;
  z-index: 21;
  margin: -246px 0 0 22.21433%;
  font-family: Rokkitt;
  font-size: 13.938em;
  font-weight: 700;
  color: rgba(9, 68, 0, 0.48);
}

.text-15 {
  margin: 16px 0 0 10%;
  font-size: 2.563em;
  letter-spacing: 4px;
  color: rgb(0, 0, 0);
}

.text-16 {
  clear: both;
  margin: 11px 0 0 10.61947%;
  font-size: 1em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-17 {
  position: relative;
  clear: both;
  z-index: 27;
  width: 99.5575221238%;
  min-height: 41px;
  margin-top: 11px;
  font-size: 0.875em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-18 {
  position: relative;
  clear: both;
  z-index: 28;
  margin: -11px 0 0 17.7060299999%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-19 {
  clear: both;
  margin: 11px 0 0 6.1946899999%;
  font-size: 1em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-2 {
  margin: 10px 0 0 6.10064%;
  font-family: Verdana;
  font-size: 1.188em;
  color: rgb(255, 255, 255);
}

.text-20 {
  position: relative;
  clear: both;
  z-index: 34;
  width: 99.5575221238%;
  min-height: 41px;
  margin-top: 11px;
  font-size: 0.875em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-21 {
  position: relative;
  clear: both;
  z-index: 35;
  margin: -11px 0 0 25.67063%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-22 {
  clear: both;
  margin: 11px 0 0 26.09237%;
  font-size: 1em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.text-23 {
  position: relative;
  clear: both;
  z-index: 40;
  width: 99.5575221238%;
  min-height: 41px;
  margin: 11px 0 0 0.44248%;
  font-size: 0.875em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-24 {
  position: relative;
  clear: both;
  z-index: 41;
  margin: -11px 0 0 27.87611%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-25 {
  position: relative;
  z-index: 63;
  margin: -243px 0 0 50.79948%;
  font-size: 1em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.text-26 {
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-27 {
  margin-left: -0.19163%;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.text-28,
.text-29 {
  clear: both;
  margin: 6px 0 0 29.0536556603%;
  font-size: 1em;
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.text-3 {
  margin: 10px 0 0 6.1083%;
  font-family: Verdana;
  font-size: 1.188em;
  color: rgb(255, 255, 255);
}

.text-30 {
  clear: both;
  margin: 5px 0 0 29.0536556603%;
  font-size: 1em;
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.text-31 {
  position: relative;
  z-index: 62;
  width: 12.8%;
  min-height: 42px;
  margin: -62px 0 0 16%;
  font-size: 0.75em;
  line-height: 0.78;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: rgb(255, 255, 255);
}

.text-4 {
  margin: 11px 0 0 12.88344%;
  font-size: 1.188em;
  color: rgb(255, 255, 255);
}

.text-5 {
  margin: 33px 0 0 8.50244%;
  font-family: Verdana;
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  color: rgb(0, 0, 0);
}

.text-6 {
  position: relative;
  z-index: 12;
  margin: 21px 0 0 8.58586%;
  font-size: 3.188em;
  color: rgb(0, 0, 0);
}

.text-7 {
  position: relative;
  clear: both;
  z-index: 13;
  width: 100%;
  min-height: 137px;
  margin-top: 18px;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-8 {
  position: relative;
  clear: both;
  z-index: 11;
  margin: -246px 0 0 29.28504%;
  font-family: Rokkitt;
  font-size: 13.938em;
  font-weight: 700;
  color: rgba(9, 68, 0, 0.48);
}

.text-9 {
  position: relative;
  z-index: 15;
  margin: 21px 0 0 7.03125%;
  font-size: 3.188em;
  color: rgb(0, 0, 0);
}

.container ._button-4 {
  width: 29.3577981651%;
  height: 33px;
}

.element ._button-1 {
  margin-left: 19.04038%;
}

.element ._button-2,
.element ._button-3 {
  margin-left: 19.02655%;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}